#activity-timer {

    margin: 0 12px 12px;

    padding: 18px;

    border-radius: 24px;

    background: rgba(255,255,255,0.45);

    backdrop-filter: blur(8px);

    text-align: center;

    box-shadow: 0 6px 18px rgba(0,0,0,0.08);

    position: relative;

    z-index: 6;

    transform: translateY(-620px);

}


#timer-time {

    font-size: 38px;

    font-weight: 700;

    color: #29434A;

}


#timer-text {

    margin-top: 6px;

    font-size: 15px;

    color: #29434A;

}


.activity-hidden {

    display: none;

}
