/*
   Vännen - specifik vänsida
*/


#friend-view {

    width: 100%;

    max-width: 480px;

    min-height: 700px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 24px;

    position: relative;

}

.top-buttons {

    position: absolute;

    top: 20px;

    right: 20px;

    z-index: 10;

    display: flex;

    gap: 10px;

}

#about-friend-button {

}

#friend-profile {

    width: 100%;

    text-align: center;

    position: relative;

}


#friend-image {

    width: 100%;

    height: auto;

    display: block;

}



#friend-name {

    margin: 0;

    position: absolute;

    top: 80px;

    left: 0;

    width: 100%;

    font-size: 42px;

    font-weight: 600;

    letter-spacing: 1px;

}

